$black: #000;
$white: #fff;
$item2: #E25A5A;
$item4: #EA4C89;
$item7: #127ABD;
$button-bg: #25272A;

$channels-menu__background: #25272A;
$channels-menu__text: #B5B5B5;
$channels-menu__friend-item_offline: #666666;
$channels-menu__friend-item_online: #70CC16;

$interface__users-count: #A4A4A4;
$interface__input: rgba(0, 0, 0, 0.24);

$main-block__user-message-time: #8D8D8D;

$linked-message: #3577EF;

$message-date__bg: #8D8D8D;

$any-contacts__background: #E8E8EB;
$message-button_background: #3577EF;

$contacts__color: #5F6164;